<div class="container p3 bg-primary text-white -mb">
	<div class="row">
	<div class="col">
	<img src="#">
	</div>
		<div class="col ">
			<h2 class="fw-bold text-center py-5">Ingreso al sistema</h2>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="mb-4">
			<%= f.label :Usuario %><br />
			<%= f.text_field :login, autofocus: true%>
			</div>

		  <div class="mb-4">
			<%= f.label :Clave %><br />
			<%= f.password_field :password, autocomplete: "current-password" %>
		  </div>

		  <div class="d-grid mb-4">
			<%= f.submit "Ingresar" %>
		  </div>
		<% end %>
		</div>		
	</div>
</div>
	
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script>
    $("label").addClass("form-label");
	$("#user_login").addClass("form-control");
	$("#user_password").addClass("form-control");
	$('input[name=commit]').addClass("btn btn-success");
  </script>